<div class="container">
    <ng-container  *ngFor="let car of cars let i = index">
       <div class="car-card">
        <p-card  [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="title">
                <a href="#" (click)="openCarDetails(car.id)">
                {{car.make}}
            </a> 
            </ng-template>
            <ng-template pTemplate="subtitle">
                {{car.model}}
            </ng-template>
            <ng-template pTemplate="content">
                <p> year: {{car.yearModel}}</p>
                <p>Price: {{car.price}}</p>
                <p>Date Added: {{car.dateAdded | date:'shortDate'}}</p>
            </ng-template>         
           <ng-template pTemplate="footer">
            <p-button label="Add to shopping card" [disabled]="!car.licensed || car.isClicked" (click)="onAddToCartClicked(car)"></p-button>
        </ng-template>
        </p-card>      
        </div>    
    </ng-container>
</div>
